langchain
langchain-core
langchain-community
langgraph
langchain-google-genai
google-generativeai
python-dotenv
beautifulsoup4
requests
tavily-python
duckduckgo-search
langchain-groq

pydantic
pydantic-settings
python-dotenv

rich